body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-color: #173341;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 20px;
    box-sizing: content-box;
    width: 100%;
    font-family: Georgia, serif;
    
}

.login-header {
    margin-bottom: auto;
}

.logo {
    width: 100px;
    height: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f4c5c;
    padding: 150px;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(5, 226, 241, 0.911);
    font-family: Georgia, serif;
}

.input-field {
    width: 250%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-button {
    width: 150%;
    padding: 10px;
    background-color: #7bcdb5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

.login-button:hover {
    background-color: #68b3a1;
    font-family: Georgia, serif;
}

@media (min-width: 600px) {
    .login-container {
        width: 400px;
        margin: auto;
    }
}
