body {
    font-family: Arial, sans-serif;
    background-color: #1F4D5A;
    color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #088696;
    border-radius: 10px;
}

#retour {
    border: none;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#retour img {
    width: 30px;
    height: 30px;
}

.patient-history {
    padding: inherit;
}

.patient-history h2 {
    text-align: center;
}

.patient-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-left, .info-right {
    width: 48%;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #03e8ff82;
}

.prelevement {
    padding: 0px;
}

.prelevement h2 {
    text-align: center;
}

.prelevement table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    color: #000;
}

.prelevement th, .prelevement td {
    padding: 10px;
    text-align: center;
    border: transparent;
}

.prelevement th {
    background-color: #00B1FF;
    color: rgb(14, 13, 13);
}

.print-btn, .edit-btn, .delete-btn {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.print-btn img, .edit-btn img, .delete-btn img {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .info-left, .info-right {
        width: 100%;
    }

    #retour img {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    #retour img {
        width: 20px;
        height: 20px;
    }

    .form-group input {
        padding: 6px;
    }

    .prelevement th, .prelevement td {
        padding: 5px;
    }

    .print-btn img, .edit-btn img, .delete-btn img {
        width: 15px;
        height: 15px;
    }
}
