body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #003D4D;
}

.container {
    width: 60%;
    max-width: 600px;
    margin: auto;
    padding: 40px;
    background-color: #088696;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Add space between buttons */
}

.btn {
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #003d4d, #00f8ff);
    color: cornsilk;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%; /* Ensure buttons take full width */
    text-align: center;
}

.btn:hover {
    background: linear-gradient(to right, #088696, #00F8FF);
}

@media (max-width: 768px) {
    .container {
        width: 80%;
        padding: 30px;
    }
    .btn {
        padding: 15px 30px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 10px;
    }
}
