body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #003D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #5CF2F6;
    align-content: center;
    flex-direction: column;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #088696;
    border-radius: 10px;
}

#retour {
    border: none;
    cursor: pointer;
    background: transparent;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#retour i {
    margin-right: 0px;
}

#retour img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

h1 {
    text-align: left;
    font-size: 24px;
    color: #00E6FF;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.search-container .search-form {
    display: flex;
    width: 100%;
}

.search-form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 10px;
}

.search-btn, .codbar-btn {
    padding: 10px 20px;
    border: none;
    background-color: #00E6FF;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search-btn img, .codbar-btn img {
    width: 30px;
    height: 30px;
    margin-right: -15px;
    margin-left: -15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    color: #000;
}

th, td {
    padding: 10px;
    border: 0px solid #ddd;
    text-align: center;
}

th {
    background-color: #00E6FF;
    color: #000;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.add-btn {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.add-btn img {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .search-container .search-form input[type="text"] {
        width: 60%;
    }
    .search-btn, .codbar-btn {
        padding: 10px;
        font-size: 14px;
    }
    th, td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }
    h1 {
        font-size: 20px;
    }
    .search-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .search-container .search-form input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
    .search-btn, .codbar-btn {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    th, td {
        padding: 6px;
    }
}
